<div id="objectID" data-id='<%= id %>'></div>

<!--<script>
	var affiliation = "<%= affiliation %>";
	var id = "<%= id %>";
	var provenance = "<%= Provenance %>";
</script>-->
<script src="js/artifact.js"></script>
<div class="artifact-modal">
	<table id="artifact_table" border="1">
		<tr>

		<div id="toolbar">
			<td><image src="images/Pencil.png" height="20px" onclick="getSelectionText();">
			<!--<image src="images/flag.png" height="20px" onclick="flag();"/>--></td>

		</div></tr>
		<tr>
			<td>
				<div id="artifact_affiliation"><p><b>Collection:</b> <%= affiliation %></p></div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="artifact_name"><p><b>Registration number:</b> <%= name %></p></div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="artifact_provenance"><p><b>Provenance:</b> <%= Provenance %></div>
				<ul class='custom-menu'>
				  <li id="person" data-action="first">Person</li>
				  <li id="location" data-action="second">Location</li>
  				  <li hidden id="remove" data-action="third">Remove marker</li>
				</ul>
			</td>
		</tr>
	</table>
	<button id="delete_artifact">Delete artifact</button>
</div>