<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/home.css">
<link rel="stylesheet" href="styles/responsive-full-background-image.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/ejs_production.js"></script>
<script src="js/home.js" type="text/javascript"></script>
<script>
var user_id = "<%= userid %>";
var email = "<%= email %>";
var firstname = "<%= firstname %>";
var lastname = "<%= lastname %>";
var affiliation = "<%= affiliation %>";
var city = "<%= city %>";
var country = "<%= country %>";
</script>
<title>The Collector's Project</title>
</head>
<body id="backgroundImageID">

<!-- Navigation content -->
<div id="header">
  <div id="title">
    <!-- <h1 id="nav_bar_title">the collector's project</h1> -->
    <a id="wow_title" href="/">the collector's project</a>
  </div>
  <div id="nav_bar">
    <a id="about" href="#">About</a>
    <a id="signIn" href="#">Sign in</a>
    <a id="signUp" href="#">Sign up</a>
<!--<<<<<<< HEAD
    <div class="dropdown" id="dropdown">
       <button class="dropbtn" id="dropbtn">Dropdown</button>
         <div class="dropdown-content"> 
           <a href="/profile" id="profile">Profile</a> 
           <a id="upload">Upload File</a> 
           <a href="/logout" id="signOut">Sign out</a> 
         </div>
     </div>
=======-->
      <div class="dropdown" id="dropdown">
        <button class="dropbtn" id="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="/profile" id="profile">Profile</a>
            <a id="upload">Upload File</a>
            <a href="/logout" id="signOut">Sign out</a>
          </div>
      </div>

  </div>
</div>

<!-- Main content -->

<div id="body_text">
  <div id="body_words">
    <h1 id="top">Your search begins here. </h1>
  </div>
  <div class="tooltip">
    <input type="search" id="search" placeholder="Enter an artifact, place, or person"><span class="tooltiptext">Combine exact keywords with plus and double quotes (e.g. "Term A" + "term b"). The search is not case-sensitive.</span></div>
  <div id="search_results"></div>
</div>

<!-- Modal content for signing up -->
<div id="signUpModal" class="modal">
  <div class="signUpModalContent">
    <form action="/signup" method="post">
      <div id="signUpBody">
        <h2 id="signUpTitle">Sign Up</h2>
        <div id="signup_column">
          <table style="width:100%">
            <tr>
              <td>Email</td>
              <td><input class="searchbar" name="email" type="email"></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input class="searchbar" name="password" type="text"></td>
            </tr>
            <tr>
              <td>First name</td>
              <td><input class="searchbar" name="firstname" type="text"></td>
            </tr>
            <tr>
              <td>Last name</td>
              <td><input class="searchbar" name="lastname"  type="text"></td>
            </tr>
            <tr>
            <tr>
              <td>Affiliation</td>
              <td><input class="searchbar" name="affiliation" type="text"></td>
            </tr>
            <tr>
              <td>City</td>
              <td><input class="searchbar" name="city" type="text"></td>
            </tr>
            <tr>
              <td>Country</td>
              <td><input class="searchbar" name="country" type="text"></td>
            </tr>
          </table>
        </div>
        <button class="butt" type="submit" id="createAccount">create account</button>
        <p>Already have an account? <a href="#" id="signin_redirect">Sign in.</a></p>
      </div>
    </form>
  </div>
</div>

<!-- Modal content for signing in -->
<div id="signInModal" class="modal">
  <div class="signInModalContent">
    <form action="/signin" method="post">
      <div id="signInBody">
        <h2 id="signInTitle">Sign In</h2>
        <input name="email" id="username_login" type="email" placeholder="Your email">
        <input name="password" id="username_password" type="password" placeholder="Password">
        <button class="butt" id="login_button">sign in</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal for about
<div id="aboutModal" class="modal">
  <div class="aboutModalContent">The Collector's Project is a web-based app for research on provenance information associated to artifacts in museum collections. The app aims to provide a platform for those involved in provenancing research by providing a search engine for specialists who work with large collections. Institutions will be eligble to request a profile that will be open for use within the institution. Within this profile each institution is able to add data to the platform so that it can be searched by third parties. On the use of this data, please review our <a href="#">privacy policy</a></div>
</div> -->

<!-- Modal content for uploading -->
<div id="uploadModal" class="modal">
  <div class="uploadModalContent">
    <div id="upload_body">
      <h1>Object Uploader</h1>
      <form method="POST" encType="multipart/form-data" id="upload_form">
        <p>Column containing the object name: </p>
        <input type="number" name="namecolumn" min="1" required>
        <p>Column containing the object provenance: </p>
        <input type="number" name="provenancecolumn" min="1" required>
        <p>Ignore header row?
          <input name="ignoreheader" type="radio" value="true" checked>
          Yes
          <input name="ignoreheader" type="radio" value="false">
          No</p>
        <input type="file" name="spreadsheet" required id="upload_file_button">
        <input type="submit" id="submit_button">
      </form>
    </div>
  </div>
</div>

<!-- Modal content for objects -->
<div id="objectModal" class="modal">
  <div class="objectModalContent">
    <div id="object_body"></div>
   <div id="object_map"></div>
  </div>
</div>
</body>
</html>
