<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/userprofile.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../js/ejs_production.js"></script>
<script src="../js/userprofile.js"></script>
<script src="../js/tabs.js"></script>
<script>
var user_id = "<%= userid %>";
var email = "<%= email %>";
var firstname = "<%= firstname %>";
var lastname = "<%= lastname %>";
var affiliation = "<%= affiliation %>";
var city = "<%= city %>";
var country = "<%= country %>";
</script>

<title>The Collector's Project</title>
</head>
<body id="backgroundImageID">

<!-- Navigation content -->
<div id="header">
  <div id="title">
    <!-- <h1 id="nav_bar_title">the collector's project</h1> -->
    <a id="wow_title" href="/">the collector's project</a>
  </div>
  <div id="nav_bar">
    <a href="/">Home page</a>
      <div class="dropdown" id="dropdown">
        <button class="dropbtn" id="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a id="profile">Profile</a>
            <a id="upload">Upload File</a>
            <a href="/logout" id="signOut">Sign out</a>
          </div>
      </div>
  </div>
</div>



<!-- Main content -->
<div id="user_info">
    <h2 id="name"> </h2>
    <div id="institution">
      <h4 id="user_email"> </h4>
    </div>
    <div id="contact">
      <h4 id="institution_name"> </h4>
      <h4 id="user_location"> </h4>
    </div>
    <a href="#" id="edit_profile">edit profile</a>
</div>

<div id="user_uploads">
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Uploads')" id="defaultOpen">All Uploads</button>
      <button class="tablinks" onclick="openCity(event, 'Saved_objects')"><%= affiliation %> Search</button>
    </div>
      <div id="Uploads" class="tabcontent">
        <div id=uploadList> </div>
      </div>


    <div id="Saved_objects" class="tabcontent">
      <h3>Search for an object you've uploaded</h3>
      <div id="profile_search_bar">
          <input type="search" id="searchSmall" placeholder="Search...">
      </div>
      <div id="profile_search_results"> </div>
    </div>
</div>


<!-- Modal content for editing profile -->
<div id="editInfoModal" class="modal">
  <div class="editInfoModalContent">
    <div id="editInfoBody">
      <div id="right_column">
        <table style="width:100%">
          <tr>
            <h4>Edit profile</h4>
          </tr>
          <tr>
            <td>First name</td>
            <td><input class="searchbar" id="firstname" type="text"></td>
          </tr>
          <tr>
            <td>Last name</td>
            <td><input class="searchbar" id="lastname"  type="text"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input class="searchbar" id="email" type="email"></td>
          </tr>
          <tr>
            <td>Affiliation</td>
            <td><input class="searchbar" id="affiliation" type="text"></td>
          </tr>
          <tr>
            <td>City</td>
            <td><input class="searchbar" id="city" type="text"></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><input class="searchbar" id="country" type="text"></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input class="searchbar" id="password" type="text"></td>
          </tr>
          <tr>

          </tr>
        </table>
        <center><button id="save_button">Save</button></center>
      </div>
    </div>
  </div>
</div>

<!-- Modal content for uploading -->
<div id="uploadModal" class="modal">
  <div class="uploadModalContent">
    <div id="upload_body">
      <h1>Object Uploader</h1>
      <form method="POST" encType="multipart/form-data" id="upload_form">
        <p>Column containing the object name: </p>
        <input type="number" name="namecolumn" min="1" required>
        <p>Column containing the object provenance: </p>
        <input type="number" name="provenancecolumn" min="1" required>
        <p>Ignore header row?
          <input name="ignoreheader" type="radio" value="true" checked>
          Yes
          <input name="ignoreheader" type="radio" value="false">
          No</p>
        <input type="file" name="spreadsheet" required id="upload_file_button">
        <input type="submit" id="submit_button">
      </form>
    </div>
  </div>
</div>

<!-- Modal content for object -->
<div id="objectModal" class="modal">
  <div class="objectModalContent">
    <div id="object_body"> </div>
  </div>
</div>


</body>
</html>
