<!doctype html>
<html>
<head>
<title>Node Authentication</title>
<link rel="stylesheet" href="styles/home.css">
<link rel="stylesheet" href="styles/profile.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
var user_id = "<%= user._id %>";
</script>
<script src="js/ejs_production.js"></script>
<script src="js/profile.js"></script>
</head>
<body>

  <!-- Navigation content -->
  <div id="header">
    <div id="title">
      <h1 id="nav_bar_title">the collector's project</h1>
    </div>
    <div id="nav_bar">
      <a id="" href="/">Back to home page</a>
    </div>
  </div>

<table id="userProfile_tbl">
  <tr>
    <td><label>Email:</label></td>
    <td><%= user.local.email %></td>
    <td><a href="#" onClick="edit(email)">edit</a>
  </tr>
  <tr>
    <td><label>First name:</label></td>
    <td><%= user.firstname %></td>
    <td><a href="#" onClick="edit(firstname)">edit</a>
  </tr>
  <tr>
    <td><label>Last name:</label></td>
    <td><%= user.lastname %></td>
    <td><a href="#" onClick="edit(lastname)">edit</a>
  </tr>
  <tr>
    <td><label>Institution:</label></td>
    <td colspan="2"><%= user.affiliation %></td>
  </tr>
  <tr>
    <td><label>City:</label></td>
    <td colspan="2"><%= user.city %></td>
  </tr>
  <tr>
    <td><label>Country:</label></td>
    <td colspan="2"><%= user.country %></td>
  </tr>
</table>

<div id="profile_search">

    <div id="profile_search_words"><p>Search within the objects you've uploaded: </p></div>
    <div id="profile_search_bar"><input type="text" id="search" placeholder="Enter an artifact, place, or person"></div>

    <div id="profile_search_results"></div>
</div>

<div id="objectModal" class="modal">
  <div class="objectModalContent">
    <div id="object_body">


    </div>
  </div>
</div>

</body>
</html>
