<!doctype html>
<html>
<head>
<title>Node Authentication</title>
<link rel="stylesheet" href="styles/home.css">
<script src="js/profile.js"></script>
</head>
<body>
<table id="signup_tbl">
  <tr>
    <td colspan="3"><h2>Welcome <%= user %></h2></td>
  </tr>
  <tr>
    <td><label>User ID:</label></td>
    <td colspan="2"><%= user._id %></td>
  </tr>
  <tr>
    <td><label>Email:</label></td>
    <td><%= user.local.email %></td>
    <td><a href="#" onClick="edit(email)">edit</a>
  </tr>
  <tr>
    <td><label>First name:</label></td>
    <td><%= user.firstname %></td>
    <td><a href="#" onClick="edit(firstname)">edit</a>
  </tr>
  <tr>
    <td><label>Last name:</label></td>
    <td><%= user.lastname %></td>
    <td><a href="#" onClick="edit(lastname)">edit</a>
  </tr>
  <tr>
    <td><label>Institution:</label></td>
    <td colspan="2"><%= user.affiliation %></td>
  </tr>
  <tr>
    <td><label>City:</label></td>
    <td colspan="2"><%= user.city %></td>
  </tr>
  <tr>
    <td><label>Country:</label></td>
    <td colspan="2"><%= user.country %></td>
  </tr>
</table>
</body>
</html>