<div class="search_result" data-affiliation="<%= museumId %>" data-name="<%= name %>" data-provenance="<%= Provenance %>" data-id="<%= _id %>"
  <div class="object_affiliation"><b><%= museumId %></b></div><br>
  <div class="object_name"><b><%= name %></b></div>
</div>
