<script src="js/object.js"></script>
<table>
<tr><td><a href="#" title="<%= museumId %> (<%= name %>)" onclick='clicked("<%= _id %>")'><div class="search_result" id="<%= _id %>"></div></a></td></tr>
<tr><td><div class="object_name"><%= museumId %> (<%= name %>)</div></td></tr>
</table>